# Ignore Gradle build directory
.gradle/
build/

src/test


# Ignore Gradle properties file
gradle.properties

# Ignore IntelliJ IDEA project files
.idea/
*.iml

# Ignore Gradle Wrapper files except for the properties file
!gradle-wrapper.jar
!gradle-wrapper.properties

# Ignore temporary files
*.tmp
*.bak
*.swp
*~

# Ignore logs
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore Java compiled files
*.class

# Ignore Maven target directory
target/

# Ignore virtual machine crash logs
hs_err_pid*
